-
  const pathStatics = PRODUCTION ? '/maggio.rf/statics' : '/statics'
  const pathImage = `${pathStatics}/images/`
  const phone = { link: 'tel:88005510998', mask: '8 800 551 09 98' }
  const address = 'г. Киров, ул. Комсомольская, 105'
  const socials = [
    { mod: 'vk', name: '#', link: 'ВКонтакте' },
    { mod: 'wt', name: '#', link: 'WhatsApp' },
    { mod: 'tg', name: '#', link: 'Telegram' }
  ]

  function staticImage (image) {
    return `${pathImage}${image}`
  }

  const pages = [
    { view: 'index', name: 'Главная', style: 'home', priority: 1, link: '/' },
  ]

  function getPage (view) {
    return pages.find(page => page.view === view)
  }

  function prefetchStyle () {
    const style = []
    const list = pages
    const currentPage = getPage(VIEW)
    list.forEach(page => {
      if (page.view === currentPage.view) return
      if (page.style && page.style === currentPage.style) return
      if (!page.style) return style.push(page.view)
      if (!style.includes(page.style)) style.push(page.style)
    })
    return style
  }
