.wrapper
  position: relative
  flex-grow: 1

.cont
  margin: 0 auto
  padding-right: 16px
  padding-left: 16px
  max-width: 1352px + 32px
  //@include media(1240)
  //  max-width: 852px + 32px
  //@include media(950)
  //  max-width: 648px + 32px
  //@include media(700)
  //  max-width: 468px + 32px
  //@include media(520)
  //  max-width: 392px + 32px

//.caption

//.title

//.headline

//.text-big

.text
  font-size: 24px
  line-height: 29px

.text-small
  font-size: 16px
  line-height: 19px

//.text-tiny
