extends ../components/_layout/layout

block head
  +title('Главная')

block body
  include ../components/home/product

  include ../components/home/easily-place

  include ../components/home/complete
  include ../components/home/comparison-analogues
