mixin connect-style (pageName)
  -
    function connectStyle (name) {
      const currentPage = pages.find(page => page.view === name)
      if (!currentPage) return name
      if (currentPage.style) return currentPage.style
      return currentPage.view
    }

  link(rel="stylesheet", href=`${pathStatics}/styles/${connectStyle(pageName)}${PRODUCTION ? `-${HASH}` : ''}.css`)
